:root {
    --azulOscuro: #000080;
    --azulClaro: #9eb5d9;

}

html {
    box-sizing: border-box;  
    font-size: 62.5%;  


}
*, *:before, *:after {
    box-sizing: inherit; 
}

body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #bdaaaa 0%, var(--blanco) 100%);

}



/* Establecimiento de tamaños específicos para cada nivel de encabezado */
h1 { font-size: 3.6rem;
    color: var(--azulOscuro); 
}
h2 { font-size: 2.7rem;
    color: var(--azulOscuro);  
}
h3 { font-size: 1.9rem; 
    color: var(--azulOscuro); 
}
strong {
    color: var(--azulOscuro);
}

p  { font-size: 1.5rem;
}
a  {font-size: 2rem;}

img { 
    max-width: 100%;
}

.titulo__logo {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--azulOscuro);
}


@media (min-width: 768px) {
    .titulo__logo {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        gap: 2rem;
    }
    
}

.contenedor {
    width: min(90%, 120rem); 
    margin: 0 auto;  /* Centra el contenedor horizontalmente */
   
}


.navegacion {
    background-color: #000080;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15rem;
        background-color: var(--azulOscuro);
    }
    
}

.navegacion__enlace {
    display: block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navegacion__enlace:hover {
    background-color: var(--azulClaro);
}
.articulos__noticia{
    text-align: justify;
    line-height: 4rem;
}

@media (min-width: 768px) {
    .articulos__noticia{
        display: flex;
        margin: 5rem auto;
        gap: 2rem;
        text-align: justify;
        
    
    }
    
}

.contenedor__grid {
    text-align: justify;
    line-height: 2.8rem;
}
.top {
    display: grid;
    align-items: center;
}


@media (min-width: 768px) {
    .contenedor__grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(10, 1fr);
        margin: 0 0 0 9rem;
        column-gap: 2rem;
        text-align: justify;
    }
    
    .top {
        margin: 2rem auto;
    }
    
}


.footer{
    text-align: center;
    padding: 2rem;
    background-color: var(--azulOscuro);
    color: white;
    max-width: 100%;
}

.iconos{
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: white;
    margin-bottom: 1.3rem;
}


.perfil{
    /* Centra la imagen */
    text-align: center; 
}


.perfil__imagen {
    max-width: 40%;
    border-radius: 50rem;
}

#texto__sobremi {
    
    line-height: 4rem;
    text-align: justify;

}


@media (min-width: 768px) {
    .contenedor__sobremi {
        display: grid;
        column-gap: 1.1rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
        grid-template-columns: 0.8fr 3fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
    
    }
    .tercero {
        grid-column: 1/3;
    }
    
    .perfil__imagen {
        max-width: 100%;
        align-items: center;
        border-radius: 50%;

    }

    
}


